.edit-link {
  position: fixed;
  width: 3em;
  height: 3em;
  right: 1em;
  bottom: 1em;
  z-index: 999;
  box-shadow: $box-shadow;
  padding: 0.75em;
  border-radius: 99999px;
  background-color: #3e23e9;
  color: white;

  svg {
    width: 1.5em;
    height: 1.5em;
  }
}
