.header {
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  z-index: 99;
  transition: transform 6 * $duration $animation-curve-default,
    opacity 3 * $duration $animation-curve-default;
  box-shadow: $box-shadow-top;
  border-top: 1px solid $gray-lightest;

  html.js-loading & {
    transform: translateY(100%);
    transition: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $navbar-height;

    @include portrait() {
      height: $navbar-height-mobile;
      height: auto;
    }
  }

  &__left {
    height: auto;

    @include portrait() {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      height: $navbar-height-mobile;
      background-color: #fff;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }

  body.home & {
    // padding-top: 0;
    background-color: white;
  }

  html.scrolled & {
    a {
      color: black !important;
    }
  }

  .site-title {
    font-size: ms(1);
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0;
    font-weight: 700;
    text-decoration: none;
    margin-right: $spacing * 0.5;
    line-height: $heading-line-height;

    @include portrait() {
      font-size: ms(2);
      margin-bottom: math.div($spacing, 8);
      margin-right: math.div($spacing, 4);
    }
  }

  .site-strapline {
    font-size: ms(0);
    color: $gray;
    line-height: $heading-line-height;
    -webkit-font-smoothing: antialiased;
  }
}
