.section--hero {
  height: calc(100vh - #{$navbar-height});

  @include portrait() {
    height: calc(100vh - #{$navbar-height-mobile});
  }

  overflow: hidden;
  position: relative;
  transition: transform 6 * $duration $animation-curve-default,
    opacity 3 * $duration $animation-curve-default;

  html.js-loading & {
    transform: translateY(100vh);
    transition: none;
  }

  html.scrolled & {
    opacity: 0;
  }

  img,
  picture {
    @include coverall();

    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
