.simple-page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $brand-blue;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .container {
    transition: opacity 4 * $duration $animation-curve-default,
      transform 4 * $duration $animation-curve-default;

    > * {
      max-width: $max-line-length;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  .back-to-home {
    position: fixed;
    line-height: 1;
    top: $spacing;
    right: $spacing;
    font-size: ms(3);
    opacity: 0.9;
    transition: opacity $duration;

    &:focus {
      outline-color: white;
    }

    &:hover {
      opacity: 1;
    }
  }

  .page-content {
    font-weight: 500;

    h1 {
      &::before {
        content: '';
        width: 6em;
        height: 0.2em;
        margin: 1em 0;
        background-color: white;
        display: block;
      }
    }
  }
}
