@font-face {
  font-family: 'Tide Sans LD';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/tidesans-500dudette.woff2') format('woff2'),
    url('../fonts/tidesans-500dudette.woff') format('woff');
}
