@font-face {
  font-family: 'Tide Sans LD';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../fonts/TideSans-300LilKahuna.woff2') format('woff2'),
    url('../fonts/TideSans-300LilKahuna.woff') format('woff');
}

@font-face {
  font-family: 'Tide Sans LD';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../fonts/TideSans-500Dudette.woff2') format('woff2'),
    url('../fonts/TideSans-500Dudette.woff') format('woff');
}

@font-face {
  font-family: 'Tide Sans LD';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('../fonts/TideSans-600Bunny.woff2') format('woff2'),
    url('../fonts/TideSans-600Bunny.woff') format('woff');
}

// @font-face {
//   font-family: 'Tide Sans LD';
//   font-style: normal;
//   font-display: swap;
//   font-weight: 800;
//   src: url('../fonts/TideSans-800Kahuna.woff2') format('woff2'),
//     url('../fonts/TideSans-800Kahuna.woff') format('woff');
// }
