@use "sass:math";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.01rem;
  font-size: math.div($font-size-root, map-get($modularscale, ratio));
  @include mq(lg) {
    font-size: $font-size-root;
  }
  @include mq(xl) {
    font-size: $font-size-root * map-get($modularscale, ratio);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: $heading-line-height;
}

h1 {
  font-size: ms(2);
  font-weight: 700;
  text-rendering: optimizeLegibility;
  margin-bottom: 2em;
}

h2 {
  font-size: 2.125rem;
  font-weight: 700;
}

p {
  margin: 0;
}

.lead {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;

  @include mq(md) {
    font-size: 2rem;
  }
}

ul {
  margin: 1em 0;
}
