:root {
  --gallery-block--gutter-size: 1em;

  @media screen and (min-width: 1024px) {
    --gallery-block--gutter-size: 2em;
  }
}

.page-content > [class^="wp-block"] {
  @apply my-8 lg:my-16 #{!important};

  &:first-child {
    @apply mt-0 lg:mt-0 #{!important};
  }
}

.wp-block-image {
  position: relative;
  margin-top: 0 !important;
  margin-top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  img {
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    @apply rounded #{!important};
  }
}

.wp-block-gallery {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  gap: var(--gallery-block--gutter-size);
}

.wp-block-post-excerpt__excerpt {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wp-block-embed {
  @apply overflow-hidden rounded #{!important};
}

.page-content {
  & > * {
    @apply mx-auto max-w-3xl 2xl:max-w-4xl;

    &.alignwide {
      @apply max-w-none;
    }

    &.aligncenter {
      @apply mx-auto max-w-3xl 2xl:max-w-4xl;
    }

    &.alignfull {
      @apply max-w-none;
      width: calc(100% + (100vw - 100%));
      margin-left: calc(50% - 50vw) !important;

      &.wp-block-image img {
        @apply rounded-none #{!important};
      }
    }
  }
}

.wp-block-gallery {
  display: block;

  &.is-style-overlapping {
    .wp-block-image {
      &:nth-child(2) {
        margin: 3em 0 4em -4em;
      }
    }
  }

  .wp-block-image {
    @apply min-w-full lg:min-w-0;
  }
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
  margin-bottom: 0 !important;
}

.blocks-gallery-caption {
  margin-top: 0 !important;
}

.wp-block-quote,
.wp-block-pullquote {
  @apply border-none py-8 text-center lg:py-16;
  p {
    @apply my-6 font-serif text-2xl leading-tight text-gray-700 antialiased lg:text-4xl lg:leading-tight xl:text-5xl;
  }
  cite {
    @apply text-lg font-semibold normal-case text-gray-700 antialiased;
  }
}

.wp-block-embed.has-play-button {
  @apply relative;

  &:hover {
    &::after {
      @apply bg-opacity-80;
    }
  }
  &::after {
    content: "";
    @apply pointer-events-none absolute top-1/2 left-1/2 block h-24 w-24 -translate-x-1/2 -translate-y-1/2 transform rounded-full bg-cyan bg-opacity-70 bg-contain bg-no-repeat transition;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLXBsYXktY2lyY2xlIj48Y2lyY2xlIGN4PSIxMiIgY3k9IjEyIiByPSIxMCI+PC9jaXJjbGU+PHBvbHlnb24gcG9pbnRzPSIxMCA4IDE2IDEyIDEwIDE2IDEwIDgiPjwvcG9seWdvbj48L3N2Zz4=");
  }
}

.aligncenter .wp-block-embed__wrapper > div {
  margin-left: auto;
  margin-right: auto;
}

.wp-block-image:last-child {
  margin-bottom: 0 !important;
}
