$duration: 500ms; // revert to 500

// .fade,
.slide-left,
.slide-right,
.slide-up,
.slide-down {
  &-leave-active,
  &-enter-active {
    @apply transition duration-[#{$duration}];
  }
}

.project-open,
.project-close {
  &-leave-active,
  &-enter-active {
    @apply transition-transform duration-[#{$duration}];
  }
}

/*
 *
 * SLIDE
 *
 */

.slide-left,
.slide-right,
.slide-up,
.slide-down {
  &-leave-to,
  &-enter-to {
    @apply duration-[#{$duration }] fixed top-0 left-0 right-0 translate-x-0 transform transition;
  }

  &-enter {
    position: fixed;
    z-index: -999;
  }
}

/*
 * Left and Right
 */

.slide-right-enter {
  @apply -translate-x-full transform;
}

.slide-right-enter-active,
.slide-right-leave-active {
  // @apply delay-250 #{!important};
}

.slide-right-leave-to {
  @apply translate-x-full transform;
}

.slide-left-leave-to {
  @apply -translate-x-full transform;
  @apply delay-500 #{!important};
}

.slide-left-enter {
  @apply translate-x-full transform;
}

// Inner container

.slide-left-leave-to {
  .container {
    @apply translate-y-96 opacity-0 duration-300 #{!important};
  }
}

.slide-right-enter-active {
  .container {
    @apply translate-y-12 transform opacity-0 duration-0 #{!important};
  }
}

/*
 *
 * Up & Down
 *
 */

.slide-up-enter,
.slide-down-leave-to {
  transform: translateY(calc(100vh - 3rem));
  @media (min-width: 1024px) {
    transform: translateY(calc(100vh - 5rem));
  }
}

.slide-down-enter,
.slide-up-leave-to {
  transform: translateY(calc(-100vh + 3rem));
  @media (min-width: 1024px) {
    transform: translateY(calc(-100vh + 5rem));
  }
}

/*
 *
 * PROJECT OPEN/CLOSE
 *
 */

.project-open,
.project-close {
  &-enter-active {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // transform: translateX(9999px);
  }

  &-enter-to {
    opacity: 1;
  }
}

.project-close-enter,
.project-open-enter {
  // opacity: 0;
}

.project-close-enter,
.project-open-leave-to {
  transform: translateX(-100%);
}

.project-close-leave-to,
.project-open-enter {
  transform: translateX(100%);
}

.project-open-enter {
  transition: none !important;
}

.project-close-enter-to,
.project-close-leave-to {
  @apply delay-200;
}

.project-close-enter-active,
.project-close-leave-active {
  @apply delay-200 #{!important};
}

.project-close-leave-to,
.project-open-leave-to {
  #site-header {
    @apply opacity-0 transition duration-200;
  }
}

// .project-open,
// .project-close {

//   &-leave-to,
//   &-enter-to {
//     @apply absolute left-0 right-0 translate-x-0 transform transition delay-200 duration-[#{$duration}];
//   }

//   &-enter {
//     @apply absolute left-0 right-0 translate-x-full transform opacity-0;
//     z-index: -999;
//   }
// }

// .project-open-enter {
//   @apply translate-x-full;
// }

// .project-close-enter {
//   @apply -translate-x-full;
// }

// .project-close-enter-active,
// .project-close-leave-active {
//   @apply delay-200 #{!important};
// }

// .project-close-leave-to {
//   @apply translate-x-full transform;

//   #site-header {
//     @apply opacity-0 transition duration-200;
//   }
// }

// .project-open-leave-to {
//   @apply -translate-x-full transform;

//   #site-header {
//     @apply opacity-0 transition duration-200;
//   }
// }
