$duration: 500ms; // revert to 500

// .fade,
.slide-left,
.slide-right,
.slide-up,
.slide-down,
.project-open,
.project-close {
  &-leave-active,
  &-enter-active {
    @apply transition duration-[#{$duration}];
  }
}

/*
 *
 * SLIDE
 *
 */

.slide-left,
.slide-right,
.slide-up,
.slide-down {
  &-leave-to,
  &-enter-to {
    @apply transform translate-x-0 fixed top-0 left-0 right-0 transition duration-[#{$duration }];
  }

  &-enter {
    position: fixed;
    z-index: -999;
  }
}

/*
 * Left and Right
 */

.slide-right-enter {
  @apply transform -translate-x-full;
}

.slide-right-enter-active,
.slide-right-leave-active {
  // @apply delay-250 #{!important};
}

.slide-right-leave-to {
  @apply transform translate-x-full;
}

.slide-left-leave-to {
  @apply transform -translate-x-full;
  @apply delay-500 #{!important};
}

.slide-left-enter {
  @apply transform translate-x-full;
}

// Inner container

.slide-left-leave-to {
  .container {
    @apply translate-y-96 opacity-0 duration-300 #{!important};
  }
}

.slide-right-enter-active {
  .container {
    @apply transform translate-y-48 opacity-0 duration-0 #{ !important };
  }
}

/*
 *
 * Up & Down
 *
 */

.slide-up-enter,
.slide-down-leave-to {
  transform: translateY(calc(100vh - 3rem));
  @media (min-width: 1024px) {
    transform: translateY(calc(100vh - 5rem));
  }
}

.slide-down-enter,
.slide-up-leave-to {
  transform: translateY(calc(-100vh + 3rem));
  @media (min-width: 1024px) {
    transform: translateY(calc(-100vh + 5rem));
  }
}

/*
 *
 * PROJECT OPEN/CLOSE
 *
 */

.project-open,
.project-close {
  &-leave-to,
  &-enter-to {
    @apply transform translate-x-0 fixed top-0 left-0 right-0 transition duration-[#{$duration }];
  }

  &-enter {
    top: 0;
    position: fixed;
    z-index: -999;
    opacity: 0;
  }
}

// .project-close-enter-active,
// .project-close-leave-active {
//   @apply delay-200 #{!important};
// }

.project-close-leave-to {
  @apply transform translate-x-full;
}

.project-open-leave-to {
  @apply transform -translate-x-full;
}

.project-open-enter {
  @apply transform translate-x-full left-0 right-0;
}

.project-close-enter {
  @apply transform -translate-x-full left-0 right-0;
}
