@import 'global';
@import 'gutenberg';
@import 'animations';
@import 'transitions';

body {
  overflow-y: scroll;
}

main {
  outline: none !important;
}

#hero-image-slider picture {
  position: static !important;
}

.underline-thin {
  text-decoration-thickness: 1px;
}

.no-focus-outline a:focus {
  outline: none !important;
}
.menu-item {
  @apply block py-4 lg:py-0 lg:px-4;
}

.hard-gradient {
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-from) 50%,
    var(--tw-gradient-to) 50%, var(--tw-gradient-to);
}

#nav__toggle:checked + div ul {
  @apply translate-x-0 #{!important};
}

.project-item {
  &:nth-child(2n) {
    transition-delay: 200ms;
  }

  &:nth-child(4n) {
    transition-delay: 400ms;
  }

  &:nth-child(4n - 1) {
    transition-delay: 600ms;
  }
}

.has-play-button {
  background-image: url();
}
