@import "global";

body {
  @apply prose lg:prose-lg xl:prose-xl;
  max-width: none !important;
  @apply font-sans leading-normal text-gray-700;
}

body
  .edit-post-visual-editor__post-title-wrapper
  > :where(:not(.alignleft):not(.alignright)),
body
  .block-editor-block-list__layout.is-root-container
  > :where(:not(.alignleft):not(.alignright):not(.alignwide):not(.alignfull)) {
  @apply max-w-3xl 2xl:max-w-4xl #{!important};
}

.edit-post-visual-editor__post-title-wrapper,
.wp-block-post-excerpt__more-text {
  display: none;
}

.aligncenter {
  @apply mx-auto max-w-3xl 2xl:max-w-4xl;
}

.wp-block-post-featured-image {
  padding-top: 50%;
  @apply relative bg-gray-100;

  .block-editor-media-placeholder {
    @apply absolute left-1/2 top-1/2 max-w-lg -translate-x-1/2 -translate-y-1/2 transform;
  }

  img {
    @apply absolute inset-0 h-full w-full object-cover object-center;
  }
}
